@using MyTechEntity;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_AdninLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap4.min.css" />
}

<hr />

<div class="col-md-12 ">
    <h1>Ürün Listesi Listesi</h1>
    <a asp-controller="Admin" asp-action="ProductAdd" class='btn btn-primary mt-5 mb-5'>Yeni Ürün Ekle</a>
    <table id="dataTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Resim</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Ürün Onay</th>
                <th>Ürün Anaysayfa Onay</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td><img src="~/img/@item.ImgUrl1" /></td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice.ToString("C2")</td>
                    <td>
                        @if (item.IsApproved == true)
                        {
                            <label class="badge badge-success">Onaylı</label>
                        }
                        else
                        {
                            <label class="badge badge-danger">Onaylı Değil</label>
                        }
                    </td>
                    <td>
                        @if (item.IsHome == true)
                        {
                            <label class="badge badge-success">Yayında</label>
                        }
                        else
                        {
                            <label class="badge badge-danger">Yayında Değil</label>
                        }
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="ProductEdit" asp-route-productId="@item.ProductId" class='btn btn-outline-success'>Detaylar</a>
                        <form asp-controller="Admin" asp-action="ProductDelete" class="d-inline" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId">
                            <button class='btn btn-outline-danger'>Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#dataTable").dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                },
                "searching": true,
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "responsive": true,
                "columnDefs": [{
                    "targets": 3,
                    "orderable": false
                }]
            });
        });
    </script>

    }




